// Landscape

@media all and (orientation: landscape) {
  @media all and (max-width: 767px) {
    .page-main {
      .title.main {
        margin-bottom: 20px;
      }
    }

    .content-list {
      .content-item {
        // Theme

        .theme {
          margin-right: 15px;
          font-size: 14px;
        }

        .theme-code {
          @media all and (min-width: 667px) {
            font-size: 13px;
            margin-right: 10px;
          }
        }

        // Text

        &.text {
          font-size: 14px;

          @media all and (min-width: 667px) {
            font-size: 12px;
          }
        }
      }
    }
  }
}
