// ====== card from 007-03-create-part-2 ======

// Title H2

.product-card__name {
  display: flex;
  align-items: center;
  font-size: 26px;

  &::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    border-radius: 50%;
    background-color: teal;
  }
}

.product-card__name--available::before {
  background-color: green;
}

.product-card__name--not-available::before {
  background-color: red;
}

// Text p

.product-card__p {
  font-size: 14px;
}
