.product-card__name {
  display: flex;
  align-items: center;

  &::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    border-radius: 50%;
  }
}

.product-card__name--available::before {
  background-color: green;
}

.product-card__name--not-available::before {
  background-color: red;
}
