// Colors

$logo-color: #666666;
$content-theme-color: #d8bfd8;
$content-text-color: rgba(247, 227, 173, 0.6);
$page-link-color: #87ceeb;
$primary-text-color: #757575;
$secondary-text-color: #444444;
$body-background-color: #282828;

// Fonts

$primary-font: -apple-system, BlinkMacSystemFont, avenir next, avenir,
  helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
